[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
autopep8 = "*"
pylint = "*"
mypy = "*"
pytest-timeout = "*"

[packages]
pyyaml = "*"
yadage = "*"

[requires]
python_version = "3.7"
